input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid color(secondary3, dark);
  @include font(1em, $font-family, 300);
  box-sizing: border-box;
  color: color(secondary5, dark);
  &[type='text'] {
      margin: 10px 0;
    &:disabled {
      background: #dddddd;
      color: color(secondary2, dark);
    }
  }
  &.error {
    border-color: color(accent1, base);
  }
  &.success {
    border-color: color(accent3, base);
  }
  &:focus {
    outline: none;
  }
}
